# SA2R requirements
#
# Tested environment:
# Python 3.12.3
# CUDA 13.0
# PyTorch build: 2.8.0a0+34c6371d24.nvInternal

# Deep learning and graph learning
torch==2.8.0
dgl==2.5

# Scientific computing
numpy==1.26.4
scipy==1.15.3
scikit-learn==1.6.1
sympy==1.14.0

# Utilities
matplotlib==3.10.3
tqdm==4.67.1
